<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">

         <h4>There are {{ count_total }} cats.</h4>
      <input v-model="newCat" />
      <button @click="addKitty">+Add</button>

      <ul>
        <li v-for="cat in cats">{{cat.name  | capitalize}}</li>
      </ul>
    </div>
  </body>
</html>

<script>
  app = new Vue({
    el: "#root",
    data: {
      cats: [{ name: "kitty" }, { name: "fish" }, { name: "henry" }],
      newCat: "",
    },

    methods: {
      addKitty: function () {
        this.cats.push({ name: this.newCat })
        this.newCat=""
      }, 
    },
    
    filters:{
        capitalize:function(value){
            return value.toUpperCase()
        },
    },

    computed: {
        count_total:function () {
            return this.cats.length;
        }
      
    },


  });
</script>
