<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">

        
      <input v-model="newCat" />
      <button @click="addKitty">+Add</button>

      <ul>
        <li v-for="cat in cats">{{cat.name  | capitalize}}</li>
      </ul>

      <cat-list :cats_lst='cats'/>

    </div>
  </body>
</html>

<script>
Vue.component("cat-list", {
    props:['cats_lst'],
    template:
    `
    <ul>
        <li v-for="cat in cats_lst">{{cat.name }}</li>
      </ul>
    `,
})



  app = new Vue({
    el: "#root",
    component:['cat-list'],
    data: {
      cats: [{ name: "kitty" }, { name: "fish" }, { name: "henry" }],
      newCat: "",
    },

    methods: {
      addKitty: function () {
        this.cats.push({ name: this.newCat })
        this.newCat=""
      }, 
    },
    
    filters:{
        capitalize:function(value){
            return value.toUpperCase()
        },
    },


    created() {
        console.log("Created");
    },

    mounted() {
        console.log("mounted");
    },

    updated() {
        console.log("updated");
    },

    destroyed() {
        console.log("destroyed");
    },

  });



setTimeout(function() {
    app.$destroy();
},5000);


</script>
